footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  left: 0;
  bottom: 0;
  color: black;
  font-size: 18px;
}

@media (max-width: 500px) {
  footer {
    justify-content: center;
    line-height: 2;
  }
}

footer p {
  margin: 0 10px;
}
