@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.highlight {
  color: blue;
}
.highlight-link {
  cursor: pointer;
}

iframe {
  width: 80%;
  height: 80vh;
  border-radius: 15px;
  border: none;
  outline: none;
}

.main-header {
  text-align: center;
  padding-top: 20px;
  font-weight: normal;
}

@media (max-width: 500px) {
  iframe {
    width: 100%;
  }
}

.primary-btn {
  padding: 10px 22px;
  color: white;
  background: blue;
}
